---
layout: archive
title: "Jo's Teahouse"
permalink: /jos-teahouse/
author_profile: true
---

Since 2023 I’ve hosted an open teahouse in my home. It’s a fun creative outlet, but through it I’ve also reflected a lot on project ownership + scoping, decision making + adaptability, communication + feedback, and scrappiness + resourcefulness

Including some of my favorite details here (<i>may</i> add more pics + recipes in the future). Grateful for friends who remember to take pictures while I’m occupied with hosting duties :)

{% for post in site.teahouse reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
